/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties*/

:root {
    /* Fonts */
    --step--2: clamp(0.69rem, calc(0.66rem + 0.16vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.25vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.93rem + 0.37vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.09rem + 0.54vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.29rem + 0.76vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.52rem + 1.06vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.78rem + 1.45vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.09rem + 1.97vw), 3.82rem);
    /* Colors */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Remove list styles on ul  elements with a list role, which suggests default styling will be removed */
ul[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100dvh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: rgb(225, 225, 225);
}


/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* CSS RESET END */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: url("/images/backdrop.webp");
    background-repeat: no-repeat;
    background-size: cover;
}


/* -- Game Intro -- */

#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 0.5rem 1rem 3.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    border: 2px solid rgba(0, 0, 0, 0.69);
    -webkit-backdrop-filter: (blur(3.1px));
    color: white;
}

#game-intro .logo-img {
    width: 400px;
}

#game-intro button {
    border: 2px solid black;
    box-shadow: 0 5px 5px black;
    background-color: orange;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    transition: box-shadow 150ms, background-color 250ms;
}

#game-intro button:hover {
    background-color: rgb(255, 201, 100);
}

#game-intro button:is(:active, :focus) {
    background-color: rgb(255, 201, 100);
    box-shadow: 0 2px 5px transparent;
    transform: translateY(2px);
    font-weight: bold;
}

#game-intro p {
    width: 40ch;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

#game-intro .arrows-img {
    width: 250px;
}

#game-intro .spacebar-img {
    width: 350px;
    margin: 1.5rem 0 0;
}

#game-intro span {
    font-weight: bolder;
}

.instruction-hl {
    color: orange;
}

.instruction-hl-arrow,
.instruction-hl-space {
    color: black;
}

.instruction-hl-objective {
    color: orange;
}

/* -- Game Container -- */

#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#game-container .logo-img {
    width: 200px;
}

#game-screen {
    width: 600px;
    height: 400px;
    background-image: url("/images/backdrop-orange.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgb(4, 4, 4);
    position: relative;
    background-color: lightblue;
    border-radius: 5px;
    overflow: hidden;
}


#tank {
    width: 50px;
    height: 20px;
    background-color: rgb(85, 72, 72);
    position: absolute;
    bottom: 0;
    left: 300px;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
    border: 1px solid sandybrown;
}

#turret-head {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-45%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    border: 1px solid sandybrown;
}


#cannon {
    width: 4px;
    height: 35px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 0px 3px sandybrown;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-37%);
    z-index: 0;
    transform-origin: bottom;
    transition: transform 100ms;
}

#projectile {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px orange;
    position: absolute;
    z-index: 999;
}

#game-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    padding: 1.2rem 0;
    margin: 2rem 0;
    background-color: rgba(100, 100, 100, 0.8);;
    border-radius: 5px;
}

#game-stats h2 {
    color: white;
    font-size: 1.4rem;
}

/* -- Game End -- */


#game-end {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: rgba(132, 32, 32, 0.7);   
    box-shadow: 0 4px 30px rgba(83, 98, 114, 0.69);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: (blur(1.5px));
    color: white;
}

#game-end .logo-img {
    width: 400px;
}

#game-end h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#game-end button {
    border: 2px solid black;
    box-shadow: 0 5px 5px black;
    background-color: orange;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    transition: box-shadow 150ms, background-color 250ms;
}

#game-end button:hover {
    background-color: rgb(255, 201, 100);
}

#game-end button:is(:active, :focus) {
    background-color: rgb(255, 201, 100);
    box-shadow: 0 2px 5px transparent;
    transform: translateY(2px);
    font-weight: bold;
}